<%- include('../partials/documentHeader.ejs') %>
    <main class="px-3">
        <form action="/login" method="POST">
            <button type="submit" class="btn btn-light">
                Login
            </button>
        </form>
    </main>



    <%- include('../partials/documentFooter.ejs') %>