<%- include('partials/documentHeader.ejs') %>
    <main class="px-3">
        <h1>The birth of an idea.</h1>
        <p class="lead">This app was prepared as second version of birthday-app. Intended to create birthday riddles
            with answers - rewards which birthday person could use in real life like coordinates of special reward or
            special code which user could use in special place(f.e. entry code).</p>

    </main>



    <%- include('partials/documentFooter.ejs') %>