<%- include('partials/documentHeader.ejs') %>

    <main class="px-3">
        <h1>Riddle App</h1>
        <p class="lead">This is application with which You can create riddles build with question and answer which You
            cna send to Your friends as a internet quiz game.</p>
        <p class="lead">
            <a href="/about" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
    </main>

    <%- include('partials/documentFooter.ejs') %>